body {
	height: 100vh;
	width: 100vw;
	display: block;
	margin: 0;
}

.blue {
	display: flex;
	height: calc(100%/3);
	width: 100%;
	background-color: #0066cc;
}

.display{
	display: none;
}
.green {
	background-color: #003300;
	height: 100%;
	width: 25%;
}

.red {
	background-color: #ff0000;
	height: 100%;
	width: 25%;
}

.black {
	background-color: black;
	height: 100%;
	width: calc(100%/3);
}

.white {
	background-color: white;
	height: 100%;
	width: calc(100%/3);
}

.restric-img-size {
	max-height: 100%; 
	max-width: 100%;
}
.center-context {
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
  color:#0066cc ;
  text-align: center;
  font-size: 50px;
}
p {
  font-family: verdana;
  font-size: 22px;
  color: black;
}
/*when you go over images they pop up giving a 3rd effect*/
img:hover {
	cursor: default;
	transform:scale(1.05, 1.05);
}
/*makes the images I have click able but does not give it a function just makes it pop up and down*/
img:active {
	transform: scale(0.95, 0.95); 
}
/*makes set images fade after a set order is done connected to java*/
.opaque {
	opacity: 0.2;
}
